<div class="centurion-logo">
	<a class="back-button" href="#/"><i class="fa fa-arrow-circle-o-left"></i></a>
	<img src="images/svg/centurion_logo[1].svg">
</div>

<span class="calculator-intro">Don't know how much beer you'll need? Use this.</span>

<form ng-click="calculate()" class="calculator-form">
	<fieldset class="containers">
		<div class="option">
			<input type="radio" ng-model="options.container" value="bottle" id="container_bottles"><label for="container_bottles">Bottles</label>
		</div>
		<div class="option">
			<input type="radio" ng-model="options.container" value="can" id="container_cans"><label for="container_cans">Cans</label>
		</div>
	</fieldset>
	<fieldset class="capacity">
		<label>Capacity (ml)</label>
		<input type="number" ng-model="options.capacity">
	</fieldset>
	<fieldset class="players">
		<label>No. of players</label>
		<input type="number" ng-model="options.players" min="1" max="25">
	</fieldset>
</form>

<span class="calculation" ng-if="calculationMsg">You'll need <span>{{calculationMsg}} {{options.container}}s of beer</span> to complete your task.</span>