/*
|----------------------------------------
| Variables
|----------------------------------------
*/

$dark:              #363a3e;
$grey:				#61666b;
$white:             #ffffff;
$amber:				#eab736;
$creme:				#f7f2e5;

$text-color:        $white;

$link-color:        $amber;
$link-hover:        lighten($amber, 8%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:			red;
$alert-green:		#645564;
$alert-blue:		blue;


/*
|----------------------------------------
| Breakpoints
|----------------------------------------
*/

$mobile: 600px;
$tablet: 768px;


/*
|----------------------------------------
| Typography
|----------------------------------------
*/

/**
 * Font Imports
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * Fonts
 */
$body-font: "Montserrat", Helvetica, Arial, sans-serif;
$header-font: $body-font;

/**
 * Sizes
 */
$huge: 8rem;
$extra-large: 4rem;
$large: 3rem;
$medium-large: 2rem;
$medium: 1rem;
$small: 0.8rem;

/**
 * Weights
 */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;