/*
|----------------------------------------
| Footer
|----------------------------------------
*/

footer {
	padding: 0 1.5rem 3rem;

	p {
		margin: 0;
	}
	
	a {
		color: $grey;
		font-size: 0.8rem;
	}
}