/*
|----------------------------------------
| Header
|----------------------------------------
*/

.centurion-logo {
	margin-bottom: 2rem;

	.back-button {
		border: 2px solid $white;
		display: block;
		color: $white;
		font-size: 1rem;
		padding: 0.4rem 0.5rem;
		border-radius: 0.5rem;
		position: absolute;
		top: 2rem;
		left: 2rem;

		&:hover {
			background-color: $amber;
		}

		& > .fa {
			font-size: 1.6rem;
			vertical-align: middle;
		}

		& > span {
			display: none;
		}

		@media (min-width: $mobile) {
			padding: 0.5rem 0.75rem;

			& > span {
				display: inline;
			}
		}
	}

	@media (min-width: $mobile) {
		margin-bottom: 3rem;
	}

	& > img {
		height: 6rem;

		@media (min-width: $mobile) {
			height: 8rem;
		}
	}
}